# Ignorer tous les fichiers modèles PyTorch
*.pth
*.pth.tar
*.pt
*.tar.gz

# Spécifiquement dans Outputs
Outputs/outliers_detection/**/*.pth
Outputs/outliers_detection/**/*.pth.tar

# Ignore les modèles
*.pth
*.pth.tar
*.pt

# Ignore les logs pour tensorboard dans le dossier lightning_logs
lightning_logs/

# Ignore the changes in the tensorflow env
tf_env/

# Ignore les checkpoints pour le modèle NICON
checkpoints/

# Ignore le cache
__pycache__/
Scripts_python/Models/__pycache__/
Scripts_python/utils/__pycache__/
