# Ignorer tous les fichiers modèles PyTorch
*.pth
*.pth.tar
*.pt
*.tar.gz

# Spécifiquement dans Outputs
Outputs/outliers_detection/**/*.pth
Outputs/outliers_detection/**/*.pth.tar

# Ignore les modèles
*.pth
*.pth.tar
*.pt

